body {
    }

.calculator {
    background-color: rgb(171, 207, 207);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    grid-auto-rows: minmax(100px, auto);
    border-style: solid;
    border-radius: 0.5em;
}

.button-div {
    background-color: rgb(228, 187, 187);
    border-style: solid;
    border-radius: 0.5em;
}

.display {
    grid-column: 1 / 5;
    grid-row: 1;
}

.zero {
    grid-column: 1 / 3;
    grid-row: 5;
}